// 颜色
// 主色调用于特别提示的标题以及按钮
$seablue:#1a6aff;
// 用于主要图标以及按钮
$skyblue:#359FFF;
// 适用于弹框颜色,单选复选框颜色等等
$greenblue:#46EBE3;
// (一般文字用色)用于大多数文字信息 内页标题信息
$white:#ffffff;
// 用于少量较为需要突出的数据显示
$yellow:#fff87e;
// 用于极少重点突出的数据展示
$red:#ff4948;
