// 字体
// 用于图表内容
.f12{
	font-size:12px;
}
// 用于文字描述以及内容
.f14{
	font-size:14px;
	font-weight: normal;
}
// 用在多数标题及内容
.f16{
	font-size: 16px;
	font-weight: normal;
}
// 用在多数标题
.f16b{
	font-size: 16px;
	font-weight: bold;
}
// 用在头部大标题
.f20{
	font-size: 20px;
	font-weight: normal;
}
// 重要提示的数据
.f24{
	font-size: 24px;
	font-weight: normal;
}
