.hascroll{
	overflow: auto;
	&::-webkit-scrollbar {/*滚动条整体样式*/
			width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
			height: 8px;
	}
	&::-webkit-scrollbar-thumb {
			background-color: rgba(70,235,227,0.2);
			border-radius: 4px;
			}
	&::-webkit-scrollbar-thumb:hover{
			background-color: rgba(70,235,227,0.6);
			}
	&::-webkit-scrollbar-thumb:active{
			background-color: rgba(70,235,227,1);
			}
	&::-webkit-scrollbar-track {
			-webkit-box-shadow: none;
			background-color: rgba(0,0,0,0);
			}
	&::-webkit-scrollbar-corner{
			background-color: rgba(0,0,0,0);
	}
}
