// 小悬浮窗
.tag{ 
	width:138px; 
	height:36px; 
	border:1px solid rgba(255,255,255,0.3); 
	position:relative; 
	background-color:rgba(75,150,232,75);
	color:#fff;
	em{
		display:block; 
		border-width:11px; 
		position:absolute; 
		bottom:-23px;
		left:50%;
		margin-left: -11px;
		border-style:solid dashed dashed; 
		border-color:rgba(255,255,255,0.3) transparent transparent;
		font-size:0; 
		line-height:0;
		}
		
	span{
		display:block; 
		border-width:10px; 
		position:absolute; 
		bottom:-20px; 
		left:50%;
		margin-left: -10px;
		border-style:solid dashed dashed; 
		border-color:rgba(75,150,232,75) transparent transparent;
		font-size:0; line-height:0;
		}
	}
		